[package]
name = "oid4vc"
version = "0.1.0"
edition = "2021"
homepage = "https://www.impierce.com/"
keywords = ["openid4vc", "siopv2", "openid4vp", "openid4vci", "OpenID"]
license = "Apache-2.0"
repository = "https://github.com/impierce/openid4vc"

[workspace]
members = [
    "oid4vci",
    "oid4vp",
    "siopv2",
    "dif-presentation-exchange"
]

[workspace.package]
homepage = "https://www.impierce.com/"
license = "Apache-2.0"
repository = "https://github.com/impierce/openid4vc"

[dependencies]
oid4vci = { path = "oid4vci" }
oid4vp = { path = "oid4vp" }
siopv2 = { path = "siopv2" }
dif-presentation-exchange = { path = "dif-presentation-exchange" }
